 <div class="content">
    <div class="container">
        <div class="box">
            <p class="res">RESOURCE LIBRARY</p>
            <div class="head">Social media is in our DNA <br></div>
                <div class="end">Explore hundreds of free resources to help you succeed in social.</div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 150px;">
    <div class="grid-container">
        <div class="grid-item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/SMA.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">How to get more likes on Facebook</h5>
                    <p class="card-text">Facebook likes tell the algorithm (and your audience) that your content is
                        worth sharing. Here are 8 tips to get more likes on Facebook.</p>
                    <a href="https://www.postplanner.com/get-more-likes-fans-facebook-page/" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/Inline Preview.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Instagram Reels Algorithm:
                        </h5>
                    <p class="card-text"> Everything You Need to Know
                        Here’s how the Instagram Reels algorithm works in 2022, and what you can do to make the not-so-secret recipe work to your advantage.
                    </p>
                    <a href="https://later.com/blog/how-instagram-algorithm-works/" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/posttrack_centerLogo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">What Happens When You Spend $100 to Promote an Instagram Post</h5>
                    <p class="card-text">Does it pay to play on Instagram? We tried boosting an Instagram post for $100 to see how much reach and new followers it would get us.
                        It has some advantage 
                    </p>
                    <a href="https://medium.com/@realmikespeer/promoting-your-instagram-posts-is-it-worth-it-e80787f59c31" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/bloginsta.svg"  alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">How to Use Instagram Live (No Sweating or Crying)</h5>
                    <p class="card-text">Does the thought of going live on Instagram strike fear in your heart? Check out our tips for a stress-free livestream.
                        Instagrm live is very useful to us. It has some advantage lot of situations
                    </p>
                    <a href="https://business.instagram.com/blog/how-to-set-up-instagram-live?locale=en_GB#:~:text=Swipe%20right%20from%20feed%20to,your%20fans%20have%20to%20join." class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/blog_insta_funnel.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">How to Build an Instagram Sales Funnel in 8 Steps
                        </h5>
                    <p class="card-text">Yes, you can create an entirely self-sufficient sales funnel on Instagram. Here’s why you should, and the content you need to make it work. It has some advantage to us in lot of situations</p>
                    <a href="https://www.socialmediaexaminer.com/how-to-build-an-instagram-sales-funnel-that-converts/" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/ladder.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">111 Time-Saving Keyboard Shortcuts for Social Media Managers (PC and Mac)
                       </h5>
                    <p class="card-text"> Want 20% more time in your day? Use these keyboard shortcuts to do everything faster — from content creation to posting and engaging on all your platforms.</p>
                    <a href="https://buffer.com/library/social-media-keyboard-shortcuts/" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>


    </div>

</div>
