

<div class="about-section">
  <h1>About Us Page</h1>
  <img src="../../assets/images/about.jpg" alt="social">
  <h3> Social media are interactive Web 2.0 Internet-based applications. User-generated content—such as text posts or comments, digital photos or videos, and data generated through all online interactions—is the lifeblood of social media.</h3>
  <p>The World is right now here in Social Media</p>
</div>

<h2 style="text-align:center">Our Team Leaders </h2>
<div class="row">
  
  <div class="column">
    <div class="card">
      <img src="../../assets/images/value.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>John</h2>
        <p class="title"> Director</p>
        <p> Social Media Management is Done efficiently by our Director  </p>
        <p>john@gmail.com</p>
        <p><button class="button" (click)="john()">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="../../assets/images/leadership.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Fernadz Joseph</h2>
        <p class="title">MD</p>
        <p>Our MD Fernadz Joseph efficiently looking forward to motivate young people </p>
        <p>joseph@gmail.com</p>
        <p><button class="button" (click)="joseph()">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="../../assets/images/logo.jpeg" alt="John" style="width:100%">
      <div class="container">
        <h2>Rithin Kumar</h2>
        <p class="title">Associate Director</p>
        <p> Associate Director of our company make our website easyto access for everyone  </p>
        <p>rithin@gmail.com</p>
        <p><button class="button" (click)="rithin()"> Contact</button></p>
      </div>
    </div>
  </div>
</div>



