.info {
    background: red;
    
   
}

.table{
    margin-top: 100px;
   width: 200px;
    border: 2px solid gray;
    background-image: linear-gradient(to right,violet,rgb(141, 213, 232));
   margin-left: 300px;
   height: 100vh;
}
.para{
font-size: 25px;
width: 958px;
margin-left: 10px;

}
.head{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
   font-size: 80px;
   font-weight: 300;
   
}
.btn{
    margin-top: 10px;
    height: 8vh;
    margin-left: 80px;
}
td,th {
    font-size: 23px;
    
}
#logout{
    margin-left: 1400px;
    margin-top: -1847px;
    width: 181px;
    font-size: 39px;
    font-family: sans-serif;
}
#back {
  
        margin-top: -1600px;
        width: 181px;
        margin-left: 1400px;
        font-size: 39px;
        font-family: sans-serif;
}