<div class="center"> PERSON  INFO</div>

<div class="tag">
<table class="table">
  <caption></caption>
    <tr>
      <th>FIRSTNAME</th>
      <th>EMAIL</th>
      <th>CAPTION</th>
      <th>DATE</th>
      <th>TIME</th>
      <th>POSTAPP</th>
      <th>POST</th>
    
  
    </tr>
      <tr>
      <td>{{userData.firstName}}</td>
      <td>{{userData.email}}</td>
      <td>{{arr.post}}</td>
      <td>{{arr.date}}</td>
      <td>{{arr.time}}</td>
      <td>{{arr.social}}</td>
      <td> <img  class ="imageStyle" onerror="this.src='../../assets/images/spinner.gif'" src="{{arr.image}}" alt="image" ></td>   
      <td> <button class="btn btn-info" id="back" (click)=back()>Back</button>
  </td>
    </tr>
  </table>

</div>


