
.info {
    background: #082bf0;
    color: beige;
   
}


.table{
    margin-top: 30px;
    border: 2px solid gray;
  
    background-image: linear-gradient(to right top, #c8e1ee, #d5e6f3, #e1ebf6, #ecf0f9, #f5f6fb, #e9ebf2, #dee1e9, #d2d6e0, #abbac9, #819fb0, #558694, #256d74);

   
}
.down{
    margin-left:80px;

}
.para{
font-size: 25px;
width: 958px;
margin-left: 50px;
line-height: 2;

}
.head{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
   font-size: 80px;
   font-weight: 300;
   margin-left:50px;
   
}

td,th {
    font-size: 23px;
    
}
.center {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 30px;
}
.tag{
    margin-left:40px;
    height:50vh;
    
}
 

#back{
    margin-left: 10px;
    margin-top:3px;
    width: 98px;
    font-size: 32px;
    font-family: sans-serif;
    background-color: blue;
    color:whitesmoke;
} 


