.container{
    border:2px solid black;
   
     background-image: linear-gradient(to right top, #6aac7b, #72b690, #7cc1a3, #89cab6, #99d4c7, #94d7c8, #8fdac9, #89ddca, #6edab7, #59d69f);
     background-repeat: no-repeat;
    margin-top: 40px;
    width : 900px;
    height: 120vh;
}
.schedule {
    width: 500px;
}

label {
    color: black;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
}

.title {
    text-align: center;
    margin-bottom: -10px;
    color: white;
}
.form-group{
margin-top: 30px;
width: 500px;
margin-left: 100px;

}

#btn2{
    width: 147px;
    margin-right: 60px;


}
.move{
margin-left: 30%;
display: flex;    
flex-direction: row;
margin-top: 80px;

}
.content{
   margin-left:60px; 
}
h2{
    font-size:54px;
    margin-left:28%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-size: 26px;
    margin-left:30px;
    margin-right:30px;
    line-height: 2;
    font-family:'Times New Roman', Times, serif;
}
img{
    width:200px;
}
.content img{
    width:1200px;
    margin-left:150px;
}
span{
    color:green;
    font-size:56px;
    font-style: italic;
    margin-left:20%;
    text-transform: capitalize;
}