<div class="container">
  <h1 class="title">SCHEDULE YOUR POST</h1>
<div class="content">
  <div class="d-flex justify-content-center backcolor">
    <form [formGroup]="formGroup" (ngSubmit)="storing(this.formGroup.value)">
    
      <div class="form-group">
        <label for="FirstName">First Name</label>
        <input id="FirstName" readonly class="form-control" formControlName="firstName" placeholder="FirstName Required"
         value="fn.firstName" required />
          </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" class="form-control" readonly formControlName="email" placeholder="Email (required)" required />
        <div class="help-block text-danger" *ngIf="email.touched">
          <span *ngIf="email.errors?.required"> Email is REQUIRED!!! </span>
        </div>
      </div>
      <div class="form-group">
        <label for="post">Caption</label>
        <input id="post" type="textarea" class="form-control" formControlName="post" required />
      </div>
    

      <div class="form-group">
        <label for="Date">Date to post </label>
        <input type="date" id="Date" class="form-control" formControlName="Date" value=""
        min="{{mindate}}"  max="2030-12-31" required  />
      </div>

      <div class="form-group">
        <label for="social">Choose a social app to post:</label>
        <select id="social" name="social" (change)="postSelected($event.target.value)" formControlName="social">
          <option value="Facebook">Facebook</option>
          <option value="Instagram">Instagram</option>
          <option value="Youtube">Youtube</option>
          <option value="Twitter">Twitter</option>
        </select>

      </div>

      
  <div class="form-group">
        <label for="post">image</label>
        <input id="image" type="file" (change)="fileSelected($event)" class="form-control" formControlName="image" required />
      </div> 

      <div class="form-group">
        <label for="Time">Time</label>
        <input type="time" id="Time" class="form-control" formControlName="Time" required />
      </div>
      <hr />
      <div class="move">
      <button class="btn btn-primary" type="submit">Schedule</button> 
      <button class="btn btn-primary"id="btn2" (click)="fetch()">List</button>
    </div>
    </form>
  </div>
  </div>