<section class="total">
  <div>
  <h1 class="head">What is Social Media Scheduling?</h1>
<p class="para">Social media scheduling tools are the easiest way to keep your social media accounts updated consistently. Social media scheduling allows you to share your content at times when your audience is most likely to be consuming the content, and with this tool, you'll always hit publish on a time when engagement is highest.
</p>
</div>
<div class="container">
<table class="table">
  <caption></caption>
    <tr>
      <th>FIRSTNAME</th>
     <th>EMAIL</th>
      <th>CAPTION</th>
      <th>DATE</th>
      <th>TIME</th>
      <th>SOCIAL</th>
      <th>POST</th>


  
    </tr>
    <tr *ngFor="let user of temp2">
      <td>{{userData.firstName}}</td>
       <td>{{userData.email}}</td>
      <td>{{user.post}}</td>
      <td>{{user.date}}</td>
      <td>{{user.time}}</td>
      <td>{{user.social}}</td>
      <td> <img class ="imageStyle" onerror="this.src='../../assets/images/spinner.gif'" src="{{user.image}}" alt="image" ></td>     
    
  
     

      <td><button class="btn info" (click)="ViewBYIndividual(user._id,temp2)">View </button> </td>


      <td><button class="btn info del" (click)="erase(user._id,user._rev)">Delete </button> </td>
</tr>

</table>
</div>
<div class="down">
      <button class="btn btn-primary" id="logout" (click)=out()>logout</button>
      <button class="btn btn-primary" id="back" (click)=back()>Back</button>
    </div>

</section>

    
