<div class="center"> PERSON  INFO</div>

<div class="container">
<table class="table">
  <caption></caption>
    <tr>
      <th>FIRSTNAME</th>
      <th>EMAIL</th>
      <th>CAPTION</th>
      <th>DATE</th>
      <th>TIME</th>
      <th>POSTAPP</th>
      <th>POST</th>
    
  
    </tr>
      <tr>
      <td>{{userData.firstName}}</td>
      <td>{{userData.email}}</td>
      <td>{{arr.post}}</td>
      <td>{{arr.date}}</td>
      <td>{{arr.time}}</td>
      <td>{{arr.social}}</td>
      <td> <img src="{{arr.image}}" alt="image" ></td>     
 
    </tr>
  </table>  
</div>