<div class="center"> PERSON  INFO</div>
<!-- <button class="btn btn-primary" (click)="view1()">show</button> -->
<div class="container">
<table class="table">
    <tr>
      <th>FIRSTNAME</th>
      <th>EMAIL</th>
      <th>CAPTION</th>
      <th>DATE</th>
      <th>TIME</th>
      <th>POSTAPP</th>
      <!-- <th>IMAGE</th> -->
  
    </tr>
      <tr>
      <td>{{userData.firstName}}</td>
      <td>{{userData.email}}</td>
      <td>{{arr.post}}</td>
      <td>{{arr.date}}</td>
      <td>{{arr.time}}</td>
      <td>{{arr.social}}</td>
      <!-- <td><img src="..//../assets/images/{{arr.image}}"></td> -->

    </tr>
  </table>  
</div>