.info {
    background: red;
    color: white;
    
}
.head {
    text-align: center;
    font-size: 50px;
}

.table{
    margin-top: 100px;
}
.viewall {
    width: 250px;
    font-size: 25px;
    margin-left: 170px;
}