<p class="head">Hello Admin!!!!!!!!!!!!!!!!!!</p>
<div class="head">Have a Good Day</div>

<button class="btn btn-primary viewall" (click)="view()">View all users</button>

<table class="table">
    <tr>
      <th>FIRSTNAME</th>
      <th>LASTNAME</th>
      <th>EMAIL</th>
    
      
    </tr>
    <tr *ngFor="let user of temp2">
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      
    

      <td><button class="btn info" (click)=" ViewById(user._id,user.type,user.email)">View </button> </td>
      
     <!-- <td> <button class="btn info" (click)=" view1()">View1 </button> </td> -->

      <td><button class="btn info" (click)="erase(user._id,user._rev)">Delete </button> </td>
  


    </tr>
  </table>  

    