<p class="title">Get in touch</p>

<h1 class="head">Get help 24/7 on social<br>
    Contact support via</h1>

<div class="grid-container">
  <div class="grid-item"><a href="https://www.facebook.com/"><img src="../../assets/images/fb.jpg" alt="fb"></a><br>
<p class="name">FACEBOOK</p></div>
  <div class="grid-item"><a href="https://www.instagram.com/"><img src="../../assets/images/insta.jpg" alt="insta"></a><br>
    <p class="name">INSTAGRAM</p></div>

  <div class="grid-item"><a href="https://www.youtube.com/"><img src="../../assets/images/youtube.png" alt="youtube"></a><br>
    <p class="name">YOUTUBE</p></div>
  
</div>
