

  <div class="content">
    <h1 class="title">SIGN-UP</h1>
    <div class="d-flex justify-content-center backcolor" id="input">
      <form [formGroup]="formGroup" (ngSubmit)="storing(this.formGroup.value)">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input id="firstName" class="form-control" formControlName="firstName" placeholder="FirstName Required"
            required />
          <div class="help-block text-danger" *ngIf="firstName.touched">
            <span *ngIf="firstName.errors?.required">
              First Name is REQUIRED!!!
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="lname">Last Name</label>
          <input id="lname" class="form-control" formControlName="lastName" placeholder="LastName Required" required />

        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" class="form-control" formControlName="email" placeholder="Email (required)" required />
          <div class="help-block text-danger" *ngIf="email.touched">
            <span *ngIf="email.errors?.required"> Email is REQUIRED!!! </span>
            <span *ngIf="email.errors?.email"> Email is Invalid!!! </span>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" class="form-control" formControlName="password" placeholder="password required" required />
          <div class="help-block text-danger" *ngIf="password.touched">
            <span *ngIf="password.errors?.required"> password is REQUIRED!!! </span>
          </div>
        </div>

        <div class="form-group">
          <label for="mobile">Mobile Number</label>
          <input id="mobile" class="form-control" formControlName="mobile" placeholder="MobileNumber required" placeholder="Enter your phoneno"/>
          <div class="help-block text-danger" *ngIf="mobile.touched">
          <span *ngIf="formGroup.controls.mobile.errors && formGroup.controls.mobile.touched" isdisabled> mobileNumber is REQUIRED!!! </span>
          </div>
        </div><br>
      <div class="foot">
        <button class="btn" type="submit">Sign Up</button> <button class="btn"
            routerLink="/Login">Login</button> 
         
       </div>    
      </form>
    </div>
    </div>