.content{
    border: 2px solid black;
    background-image: linear-gradient(to right top, #c8e1ee, #d5e6f3, #e1ebf6, #ecf0f9, #f5f6fb, #e9ebf2, #dee1e9, #d2d6e0, #abbac9, #819fb0, #558694, #256d74);
    width: 800px;
    margin-left: 500px;
    margin-top: 80px;
    height: 100vh;
  
}

label {
    color: black;
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
}
.title{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;

}
.form-group{
    width: 600px;
}

.form-control {
    width: 600px;
    height: 50px;
}
.btn {
    margin-top: 30px;
    background-color: black;
    border-radius: 25px;
    height: 50px;
    color: white;
    margin-right: 120px;
    width: 200px;
}
