<div class="container">
  <h1 class="title">LOGIN</h1>
<form [formGroup]="formGroup">
    
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Email address</label>
        <input type="email" id="form2Example1" formControlName="email" class="form-control" />
       
      </div>
    
    
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Password</label>
        <input type="password" id="form2Example2" formControlName="password" class="form-control" />
        
      </div>
   
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
 
      </div>
      <!-- <button (click)="login(this.formGroup.value)">Login</button>
      <button id="btn1" (click)="signup()" >Sign Up</button> -->

      <button class="btn btn-primary" (click)="login(this.formGroup.value)">Login</button> <span> Or <button class="btn btn-secondary"
        routerLink="/signup">SIGNUP</button> </span>
     </div>
      
    </form>
  </div>
    