<p></p>
<div class="container">
<img src="../../assets//images/news.png" alt="news">
<h1 class="head"><strong>NEWS</strong><br>When we're not spreading the news, we're making it<br>
    <button class="btn btn-info" (click)="opennews()">Subscribe for updates</button>
</h1>
</div>

<h2>News Blog</h2>
<h5> Getting the Latest Updates</h5>

<div class="row">
  <div class="column">
    <div class="card">
      <h3>Social Media Info </h3>
      <h4> Social media spreads information faster than any other media.</h4>
      <p>78.5% of traditional media reporters polled used social media to check for breaking news. 59% of Twitter users and 31% of Facebook users polled followed breaking news on these sites and these areuseful for getting more info about instant events. </p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3> Social Media in Law</h3>
      <h4> Law enforcement uses social media to catch and prosecute criminals.</h4>
      <p> 73% of federal, state, and local law enforcement professionals surveyed think “social media helps solve crimes more quickly.”A survey by the International Association of Chiefs of Police found that 85% of police departments use social media to solve crimeissues.</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <h3>Social Media at School</h3>
      <h4>Social media sites help students do better at school</h4>
      <p> 59% of students with access to the Internet report that they use social media to discuss educational topics and 50% use the sites to talk about school assignments.After  Oregon, introduced a social media program to engage students, grades wentup 50% absenteeism .

    </p>
    </div>
  </div>
  
 
</div>
