.head{
    font-family: 'Times New Roman', Times, serif;
    padding-left: 550px;
    margin-top: -250px;
    padding-bottom: 200px;
}
.btn{
    margin-top: 60px;
    width: 400px;
    font-size: 30px;
}