<div class="container">
    <h1 class="heading">Post Planner Social Media Management Tool</h1>
    <p>Use social media scheduler to bulk-schedule social content on multiple social channels from a single dashboard.
        Stay consistent and increase engagement.</p>
    <img class="topimg" alt="post" src="../../assets/images/post.png">

    <div>
        <button type="button" class="btn btn-primary" id="button" routerLink="/signup">SignUp</button>
        <button type="button" class="btn btn-primary" id="button1" routerLink="/Login">Login</button>
    </div>
</div>

<section class="showcase">
    <div class="video-container">
        <video src="https://traversymedia.com/downloads/video.mov" class="video" autoplay muted loop></video>
    </div>
    <div class="content">
        <h1 class="caption">Social is your superpower.</h1>
        <h3 class="caption1">Easily manage all your social media</h3>
        <button type="button" class="click" routerLink="/signup">REGISTER</button>

      

    </div>
</section>




<div class="lower">
    <h1 class="about">“Keep your customers happy”</h1>
    <p class="parac">
        Manage all your customer care channels—SMS, social media, WhatsApp, Live chat, and apps—from one simple
        platform.
    </p>
    <div class="socialmedia">


        <a href="https://twitter.com/traversymedia" target="_blank"><em class="fab fa-twitter fa-3x"></em></a>
        <a href="https://facebook.com/traversymedia" target="_blank"><em class="fab fa-facebook fa-3x"></em></a>
        <a href="https://github.com/bradtraversy" target="_blank"><em class="fab fa-github fa-3x"></em></a>
        <a href="https://www.linkedin.com/in/bradtraversy" target="_blank"><em class="fab fa-linkedin fa-3x"></em></a>
    </div>
</div>



<section class="section section--yellow-80" id="section-3-1" data-variation-id="ENT_Homepage-21+_ALL"
    data-default-id="section-3">
    <div class="section__container container">

        <aside class="logo" id="c-185461">
            <h2 class="logo-bar__title">Trusted by employees at 800+ of the <span class="u-nowrap-sm">Fortune
                    1000</span></h2>
            <div class="logo-bar__logos">

                    <div class="hotel">
                        <img src="../../assets/images/hotel.svg"
                        class="logo1" id="icon" alt="Melia Hotels Logo logo"
                        style="width:500px;height:500px;">  
                    </div>
                    <div class="market">

                    <img src="../../assets/images/market.svg"
                        class="logo2" alt="Marketo Logo logo"
                        style="width:500px;height:500px;" srcset="" width="174" height="52">
</div>
<div class="sxsw">
                    <img src="../../assets/images/sxsw.svg" alt="sxsw" class="logo3"srcset=""  style="width:400px;height:400px;">

               </div>
            </div>
        </aside>

    </div>
</section>
<div class="wysiwyg" id="c-220930">
    <h2 class="align">Align your stars</h2>
<p class="align1">Everyone in your organization has a role to play. Give them the social platform and skills they need to step into the spotlight and build your brand, strengthen relationships with customers, and drive business results.<br></p>
</div>
<div>
    <img src="../../assets/images/panel.jpg" alt="panel" class="panel">
</div>
<div class="detail__point__title">
    <img src="../../assets/images/teams.svg" class="teams" alt="teams">
<h3 class="tit">Teams</h3>
</div>
<div class="detail__point__title">
    <img src="../../assets/images/social-selling.svg" class="selling" alt="selling">
<h3 class="tit1">Social-selling</h3>
</div>