

<!-- <div class="container">
    <div class="left">
            <p class="head" id="heading">Post-TO-Plan-Social Media Management Tool</p>
            <p class="headinfo"> All-in-one Social Media Management Tool , for Free! Target your Audience
                Bulk Schedule Posts. Get Visual Reports. Analyze your Audience.No Credit Card Required.
                Flexible Pricing. Automatic Schedule Post.
    Grow your Social Presence
                For those who may not know what a Social Media Management Tool is,
                it is Software designed to allow the user to publish to, Monitor
                and Manage one or more of your Social Media Networks from one Interface
    </p>
            <img class="topimg" src="../../assets/images/post.png">
    <div class="right">
            <img class="topimg" src="../../assets/images/post.png">
        </div>
    </div>
    <h1 class="heading">Post-TO-Plan-Social Media Management Tool</h1>
    <p>Use social media scheduler to bulk-schedule social content on multiple social channels from a single dashboard.
        Stay consistent and increase engagement.</p>
    <img class="topimg" src="../../assets/images/post.png">
     <button class=" nav-item btn btn-primary d-flex" (click)="adminlogin()">Admin</button>
                <button type="button" class="btn btn-primary" id="button" routerLink="/signup">SignUp</button> -->
<!-- </div> -->

<div class="container">
<h1 class="heading">Post Plannar Social Media Management Tool</h1>
    <p>Use social media scheduler to bulk-schedule social content on multiple social channels from a single dashboard.
        Stay consistent and increase engagement.</p>
        <img class="topimg" src="../../assets/images/post.png">
     <!-- <button class=" nav-item btn btn-primary d-flex" (click)="adminlogin()">Admin</button>
     <button class=" nav-item btn btn-primary d-flex" (click)="login()">Login</button> -->
<div>
     <button type="button" class="btn btn-primary" id="button" routerLink="/signup">SignUp</button> 
     <button type="button" class="btn btn-primary" id="button1" routerLink="/Login">Login</button>
     </div>
</div>